.DS_Store
.vscode/
.idea/
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/
data/
outputs*/
checkpoints/
*.pt
*.bin
*.safetensors

# keep empty dirs on GitHub
!data/.gitkeep
!outputs/.gitkeep
!outputs_fast/.gitkeep
